

/* jumbotron */
.jumbotron {
    background-image: url(img/jb-bg.png);
    background-attachment: fixed;
    background-size: cover;
    height: 650px;
    overflow: hidden;
   
}

.header {
    color: whitesmoke;
    margin-top: -70px;
    background-color: darkgrey;
    padding: 30px;
    padding-top: 50px;
    opacity: 0.8;
    

}

.header h1 {
    color: azure;
    text-transform: uppercase;
    
}
.aa {
    border-color: beige;
    
}

/* content */
.page1{
    margin:auto;
    margin-top: -32px;
    padding-left:0;
    padding-right: 0;
    position: relative;
    z-index: 1;
    
}
.page1 img {
    width: 337.5px;
    height: 337px;
}
.caption {
    background-color: rgb(86, 15, 153);
    width: 337.5px;
    height: 337px;
    padding: 50px;
    margin: 0;
    margin-top: -337px;
    position: relative;
    z-index:0;

}
.caption p{
    font-size: 20px;
    font-weight: bold;
    color: beige;
    text-align: center;
}
.caption2 {
    background-color: rgb(86, 15, 153);
    width: 337.5px;
    height: 337px;
    padding: 50px;
    margin: 0;
    margin-top: -337px;
    position: relative;
    z-index:0;

}
.caption2 p{
    font-size: 20px;
    font-weight: bold;
    color: beige;
    text-align: center;
}
.caption3 {
    background-color: rgb(86, 15, 153);
    width: 337.5px;
    height: 337px;
    padding: 50px;
    margin: 0;
    margin-top: -337px;
    position: relative;
    z-index:0;

}
.caption3 p{
    font-size: 20px;
    font-weight: bold;
    color: beige;
    text-align: center;
}

.thumbnail:hover {
    opacity: 0.3;
    transition: 1.5s;
    
}
.page2{
    margin:auto;
    margin-top: 0px;
    padding-left:0;
    padding-right: 0;
    position: relative;
    z-index: 1;
    
}
.page2 img {
    width: 337.5px;
    height: 337px;
}

.info {
 margin: 0;
 padding: 0;
 background-color: lightgray;
   
    }
.info img {
    
    width: 562px;

}
.info h4 {
    font-size: 30px;
    padding: 30px;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.infopanel img {
    opacity: 0;
    transform: translate(0,-40px) rotate(15deg);
    transition: 0.9s;
}
.infopanel img.muncul {
    opacity: 1;
    transform: translate(0,0);
}

.about {
   font-weight: 600;
   padding:50px;
    
    
    
}
.p2 {
    text-align:justify;
    padding-left: 200px;
    background-image: url(img/about-me.png);
    background-size: cover;
    height: 250px;
}

footer {
    background-color: gray;
    height: 50px;
    color: white;

}
footer a {
    color: darkkhaki;
}
.fa {
    padding: 10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: rgb(116, 172, 190);
    color: #125688;
  }
  .icon {
      text-align: right;
      margin-top: -50px;
      margin-right: 50px;
  }